export HOST_KEY=http://localhost:8080
export REALM_KEY=SpringBoot
export CLIENT_KEY=login
export USER_KEY=user1
export PASS_KEY=user1
export HOST_EMAIL=http://54.163.243.199:8080

export HOST_KEY=https://sso.egas.com.mx/
export REALM_KEY=DEV
export CLIENT_KEY=qsstorage
export USER_KEY=admin
export PASS_KEY=Jc2mqnFxDC8A
export HOST_EMAIL=http://54.163.243.199:8080
